<!DOCTYPE html>
<html>
  <head>
    <title>Rock Always Wins</title>
  </head>
  <body>
    <h1>Rock, Paper, Scissors.</h1>
    <h3>Play Rock, Paper, Scissors against the computer!</h3>
    <p>
      Rules: Select one of the buttons below based on what you think the computer will choose. The computer isnt very smart so you shouldnt have a hard time.
    </p>
    <form action="/player_wins" method="post">
        <label for="answer">Options</label>
        <input type="button" name="rock" id="rock">
        <input type="button" name="paper" id="paper">
        <input type="button" name="scissors" id="scissors">
        <button type="submit">PLAY</button>
    </form>

  </body>
</html>
